.icl-progress-bar {
  width: 100%;
  .progress-bar {
    height: 8px;
    background: var(--grey-100);
    border-radius: 10px;
    &-value {
      height: 100%;
      border-radius: 10px;
    }
    &.error {
      & .progress-bar-value {
        background: var(--error);
      }
    }
  
    &.warning {
      & .progress-bar-value {
        background: var(--warning);
      }
    }
  
    &.ok {
      & .progress-bar-value {
        background: var(--success-400);
      }
    }

    &.success {
      & .progress-bar-value {
        background: var(--success);
      }
    }
  }
  .progress-text {
    margin-top:8px;
    color: var(--grey-500);
    font-size: 12px;
    font-weight: 600;
  }
}